@font-face {
    font-family: "Junicode";
    src: url("/fonts/JunicodeVF-Roman.woff2");
    font-style: normal;
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-display: swap;
}

@font-face {
    font-family: "Junicode";
    src: url("/fonts/JunicodeVF-Italic.woff2");
    font-style: italic;
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    src: url("/fonts/RecursiveVF.woff2");
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

:root {
    overscroll-behavior: none;

    --junicode-family: "Junicode", "Times New Roman", Times, serif;
    --junicode-settings:
        "wght" clamp(300, var(--wght), 700),
        "wdth" calc(clamp(0, var(--wdth), 100) / 2 + 75),
        "ENLA" clamp(0, var(--enla), 100);
    --wght: 400;
    --wdth: 50;
    --enla: 0;

    --recursive-family: "Recursive", 'Courier New', Courier, monospace;
    /* 300-1000; */
    --recursive-weight: 400;
    /* "MONO" 0-1, "CASL" 0-1, "slnt" -15-0, "CRSV" 0-1; */
    --recursive-settings: "MONO" 1, "CASL" 1, "slnt" 0, "CRSV" 0.5;

    font-family: var(--recursive-family);
    font-weight: var(--recursive-weight);
    font-variation-settings: var(--recursive-settings);
}

html,
body {
    min-height: 100%;
    background: #fafaff;
}

html {
    hanging-punctuation: first allow-end last;
    word-break: break-word;
}

body {
    margin: unset;
}

pre {
    white-space: pre-wrap;
}

button {
    border: unset;
    border-radius: unset;
    font-family: unset;
    font-size: unset;
    background: unset;
    padding: unset;
    font-variant: unset;
}

.expressive-code input.const-control {
    float: right;
    accent-color: #4FC1FF;
    margin-left: 1ch;
    margin-top: 0.3lh;

    &[hidden] {
        display: none;
    }
}